@use "sass:map";

$primary: #e60023;
$secondary: #111111;

$btn-border-radius: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

@import "../node_modules/bootstrap/scss/utilities/api";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

main {
    section.gallery {
        .gallerycontainer {
            img {
                object-fit: cover;
                width: 250px;
                height: 250px;
                filter: blur(5px);
                cursor: pointer;
                transition: all ease-in-out .3s;

                @media screen and (max-width: map.get($grid-breakpoints, sm)) {
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                }

                &:hover {
                    filter: blur(0px);
                }
            }
        }
    }
}